@inherits LayoutComponentBase

<div id="main-layout-bg" class="position-absolute top-0 start-0 w-100 h-100">
    <div id="main-layout-box" class="bg-white position-absolute top-50 start-50 translate-middle p-2 shadow-lg">
        <div class="container-sm">
            @Body
        </div>
    </div>
</div>
