@page "/"

<PageTitle>Redirecionando...</PageTitle>

<div class="row">
    <div class="col">
        <div class="text-center m-3">
            <span class="spinner-border text-primary me-2" role="status" aria-hidden="true"></span>
            <span class="h3">Redirecionando...</span>
        </div>
    </div>
</div>

