@page "/account/change_password"
@inject NavigationManager NavManager

<PageTitle>Esqueci minha senha</PageTitle>

<div class="row justify-content-center mt-2">
    <div class="col-auto">
        <img id="img-logo" src="images/logo-loading.png" />
    </div>
</div>

@if (_stage == MudarSenhaStage.InformarSenha)
{
    <div class="row text-center mt-3 justify-content-center">
        <div class="col-10">
            <span class="fw-bold fs-3">Alterar senha</span>
        </div>
    </div>
    <div class="row text-center mt-2 mb-3 justify-content-center" hidden="@(_errorMessage == null)">
        <div class="col-10 text-danger">
            @_errorMessage
        </div>
    </div>
    <div class="row text-center mt-2 mb-3 justify-content-center">
        <div class="col-10">
            <input type="password" placeholder="nova senha" class="form-control" />
        </div>
    </div>
    <div class="row text-center mb-3 justify-content-center">
        <div class="col-10">
            <input type="password" placeholder="confirmar senha" class="form-control" />
        </div>
    </div>
    <div class="row text-center mb-4 justify-content-center">
        <div class="col-10">
            <button type="submit" class="btn btn-primary btn-lg w-100" @onclick="ContinueFromInformarSenha">Continuar</button>
        </div>
    </div>
}
else
{
    <div class="row text-center mt-3 mb-3 justify-content-center">
        <div class="col-10">
            <span class="fs-6">A senha do usuário <strong>danskcarvalho</strong> foi alterada.</span>
        </div>
    </div>
    <div class="row text-center mb-4 justify-content-center">
        <div class="col-10">
            <button type="submit" class="btn btn-primary btn-lg w-100">Continuar</button>
        </div>
    </div>
}
