@page "/"
@inject HttpClient Http
@inject UserService UserService
@attribute [Authorize]

<PageTitle>Home</PageTitle>


<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="javascript:void(0);">
        Home
        <FluentIcon Value="@(new Icons.Regular.Size20.Home())" Color="@Color.Neutral" Slot="start" />
    </FluentBreadcrumbItem>
</FluentBreadcrumb>

<div style="margin-top: 25px;">
    Bem vindo ao Pulsar, <b>@_user?.PrimeiroNome @_user?.UltimoNome</b>.
</div>

@code {
    private UserClaims? _user;

    protected override async Task OnInitializedAsync()
    {
        this._user = await UserService.CurrentUser();

        this.UserService.UserChanged += async (sender, e) =>
        {
            this._user = await UserService.CurrentUser();
            this.StateHasChanged();
        };
    }
}